.tooltip{
  position: absolute;
  background: rgba(0, 0, 0, .6);
  z-index: 500;
  box-shadow: 0 0 0 2px #fb5 , 0 0 0 6px rgba(0, 0, 0, .6);
  color: white;
  padding: .5rem;
  font-weight: bold;
  font-family: monospace;
  max-width: 150px;
  border-radius: 2px;
  

  }